In [1]:
import numpy as np

In [2]:
import pyspark

In [6]:
oSet = {1, 3, 5}

In [4]:
eSet = {2, 4, 6}

In [5]:
type(eSet)

set

In [7]:
oSet.intersection(eSet)

set()

In [8]:
oSet.union(eSet)

{1, 2, 3, 4, 5, 6}

In [9]:
aSet = oSet.union(eSet)

In [10]:
aSet.intersection(oSet)

{1, 3, 5}

In [11]:
aSet.intersection(eSet)

{2, 4, 6}

In [12]:
aSet.difference(oSet)

{2, 4, 6}

In [13]:
student_Org = (2018, 'IT 동아리' , [2016001, 2018002, 2018004] )

In [14]:
type(student_Org)

tuple

In [18]:
student_Org[2][0]

2016001

In [19]:
class_score_list = [4.5 , 3.5 , 3.0 , 4.0]

In [20]:
class_score_list[0]

4.5

In [22]:
class_list = ['ITConsulting' , 'DB' , 'MIS', 'Programming']

In [23]:
class_list[0]

'ITConsulting'

In [29]:
class_score_dict = {'ITConsulting': 4.5 , 'DB': 3.5, 'MIS': 3.0 , 'Programming': 4.0}

In [30]:
class_score_dict['DB']

3.5

In [32]:
Grade_dict = {'학번' : ['2016001', '2017001', '2018002'], '중간' : [70,80,90], '기말' : [70,60,80] }

In [34]:
Grade_dict['학번']

['2016001', '2017001', '2018002']

In [35]:
year = {'2018' : 0, '2019' :1, '2020':2}

In [36]:
course = {'IT컨설팅' : 0 , 'DB':1 , 'MIS':2 , 'Programming' :3}

In [37]:
StudentSize = np.array([[23,20,30],[40,35,30],[60,60,60],[40,35,45]])

In [38]:
StudentSize[0][2]

30

In [39]:
StudentSize

array([[23, 20, 30],
       [40, 35, 30],
       [60, 60, 60],
       [40, 35, 45]])

In [ ]:
StudentSize[course]

In [40]:
import pandas as pd

In [42]:
s1 = pd.Series([12, -4 , 'C', 9], index=['a', 'b', 'c', 'd'])

In [43]:
s1

a    12
b    -4
c     C
d     9
dtype: object

In [44]:
s1['d']

9

In [45]:
s1['c']

'C'

In [46]:
s1_dict = dict(s1)

In [48]:
s1_dict

{'a': 12, 'b': -4, 'c': 'C', 'd': 9}

In [49]:
s2 = s1_dict

In [51]:
s2 = pd.Series(s2)

In [52]:
s2

a    12
b    -4
c     C
d     9
dtype: object

In [54]:
Stud1 = {'2001': 10 ,'2002': 20 ,'2003': 30,'2004': 40,'2005': 50,}

In [55]:
S1 = pd.Series(Stud1)

In [56]:
S2 = pd.Series([6, 7 , 8], index=['2001', '2002', '2003'])

In [57]:
S3 = S1+S2

In [58]:
S3

2001    16.0
2002    27.0
2003    38.0
2004     NaN
2005     NaN
dtype: float64

In [59]:
S3.isnull()

2001    False
2002    False
2003    False
2004     True
2005     True
dtype: bool